.difficulty {
  text-align: center;
}

.difficulty-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  max-width: 240px;

  a {
    margin-top: 16px;
  }
}
