.game {
  $maxWidth: 90vw;
  $artCropWidth: 626px;

  text-align: center;
  margin-bottom: 100px;

  .art {
    max-width: $maxWidth;
    max-height: 60vh;
  }

  .guess {
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
    max-width: $maxWidth;
    width: 400px;

    @include bp-large() {
      font-size: 24px;
    }
  }
}
