.game {
  $maxWidth: 90vw;
  $artCropWidth: 626px;

  text-align: center;

  .art-frame {
    position: relative;
    display: inline-block;
  }

  .filler {
    height: 200px;
    width: 400px;
  }

  .art-frame,
  .art,
  .filler {
    max-width: $maxWidth;
    max-height: 60vh;
  }

  .guess {
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
    max-width: $maxWidth;
    width: 400px;

    @include bp-large() {
      font-size: 24px;
    }
  }

  .error-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}
