.button--lg,
.button--sm {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
}

.button--lg {
  border: 1px solid;
  border-radius: 3px;
  line-height: 40px;
  padding: 0 15px;
}

.button--sm {
  border: 1px solid;
  border-radius: 2px;
  padding: 5px 10px;
}

.button--link {
  background: transparent;
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.button--skip {
  @extend .button--link;
  opacity: 0.75;
}
