.retrospective {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;

  .figure {
    flex-shrink: 0.5;
    height: 120px;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .outcome {
    text-align: left;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
