* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a:link,
a:visited,
a:active,
a:active {
  color: unset;
}

button,
input {
  color: unset;
  font-family: unset;
  font-size: unset;
}
