html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeueWF", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

a:link,
a:visited,
a:active,
a:active {
  color: inherit;
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
