<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Scryfall Art Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="screen" href="css/main.css">
</head>
<body>

  <div id="app">
    <div class="spacer" aria-hidden="true"></div>

    <div role="main" class="screen difficulty" v-if="!started">
      <h1>Art Game</h1>
      <p>Which format's cards should show up?</p>
      
      <div class="difficulty-buttons">
        <button type="button" class="field-lg" @click="start('standard')" ref="standardBtn">Standard</button>
        <button type="button" class="field-lg" @click="start('modern')">Modern</button>
        <button type="button" class="field-lg" @click="start('vintage')">Vintage</button>
      </div>
    </div>

    <div role="main" class="screen game" v-if="started">
      <img class="art" src="https://img.scryfall.com/cards/art_crop/front/9/b/9b1c7f07-8d39-425b-8ae9-b3ab317cc0fe.jpg?1538878130">

      <p>Which card is this?</p>

      <form @submit.prevent="check">
        <input type="text" ref="guessInput" class="field-lg guess" v-model="guess">
        <button type="submit" class="vh">Check</button>
      </form>
    </div>

    <footer></footer>
  </div>
  
  <script src="js/lib/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
