<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Art Game &middot; Scryfall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:title" content="Scryfall Art Game">
  <meta name="og:type" content="website">
  <meta name="og:image" content="https://assets.scryfall.com/icon.png?v=cb2efa3b7334b4428ab13c6f85673510">
  <meta name="og:url" content="https://artgame.scryfall.com/">
  <meta name="og:site_name" content="Scryfall">
  <meta name="og:description" content="Guess Magic: the Gathering cards using only the artwork">
  <meta name="description" content="Guess Magic: the Gathering cards using only the artwork">
  <link rel="icon" type="image/x-icon" href="https://assets.scryfall.com/favicon.ico?v=cb2efa3b7334b4428ab13c6f85673510">
  <meta name="apple-mobile-web-app-title" content="Art Game">
  <link rel="apple-touch-icon" href="https://assets.scryfall.com/apple-touch-icon.png?v=cb2efa3b7334b4428ab13c6f85673510">
  <link rel="icon" sizes="196x196" href="https://assets.scryfall.com/icon.png?v=cb2efa3b7334b4428ab13c6f85673510">
  <link rel="stylesheet" media="screen" href="css/main.css">
</head>
<body>

  <div id="app" v-bind:class="{ 'theme-dark': darkTheme, 'theme-light': !darkTheme }">
    <header>
      <a href="/">
        <h1>
          <img class="logo" src="assets/header-logo.svg" alt="Scryfall">
          Art Game
        </h1>
      </a>
    </header>
        
    <div role="main" class="screen difficulty" v-if="!started">
      <p>Which format should we show cards from?</p>
      
      <div class="difficulty-buttons">
        <a
          role="button"
          tabindex="0"
          class="button-lg"
          @click="start('standard')"
          @keypress.enter="start('standard')"
          ref="standardBtn"
        >
          Standard
        </a>
        <a
          role="button"
          tabindex="0"
          class="button-lg"
          @click="start('modern')"
          @keypress.enter="start('modern')"
        >
          Modern
        </a>
        <a
          role="button"
          tabindex="0"
          class="button-lg"
          @click="start('vintage')"
          @keypress.enter="start('vintage')"
        >
          Vintage
        </a>
      </div>
    </div>

    <div role="main" class="screen game" v-show="started">
      <!-- todo: handle artUrl not yet available -->
      <div class="art-frame">
        <div class="filler" v-if="!artUrl"></div>
        <img class="art" v-bind:src="artUrl">
        <div v-if="errorLoading" class="error-loading">
          <p>There was an error loading the next card.</p>
          <a role="button" class="button-lg" @click="retry">&#8635; Retry</a>
        </div>
      </div>

      <img class="loader" v-bind:src="artToLoad" @load="imageFinishedLoading">

      <p>
        Which card is this?
        <span class="skip">
          (<a role="button" href="#" tabindex="0" @click.prevent="skip" @keypress.enter="skip">skip</a>)
        </span>
      </p>

      <form @submit.prevent="check">
        <input
          type="text"
          ref="guessInput"
          class="guess"
          v-model="guess"
          v-bind:disabled="loadingNextCard"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
        >
        <button type="submit" class="vh" tabindex="-1">Check</button>
      </form>

      <div class="score-container">
        
      </div>

      <div class="feedback" v-bind:style="{ visibility: (showFeedback ? 'visible' : 'hidden') }">
        <p class="score">Score: {{ score }}</p>

        <p>
          {{ prevGuessCorrect ? 'Correct!' : 'Incorrect.'}}
          That was
          <a v-if="prevCard" v-bind:href="prevCard.scryfall_uri" class="feedback-cardname" target="_blank">{{ prevCard.name }}</a>.
          <span v-if="prevGuessCorrect === false">You guessed: {{ prevGuess }}</span>
        </p>
      </div>
    </div>

    <footer>
      <div class="controls">
        <a role="button" tabindex="0" class="button-sm" @click="toggleTheme" @keypress.enter="toggleTheme">
          {{ darkTheme ? 'Dark' : 'Light' }} theme
        </a>
      </div>
      <div class="credit">
        by <a href="https://spacemonaut.github.io/" target="_blank">spacemonaut</a> based on the MagicCards.info Art Game
      </div>
    </footer>
  </div>
  
  <script src="js/main.js"></script>
</body>
</html>
