.form-layout {
  padding: 5px 0 15px 0;
  background: #FDFDFD;
  overflow-x: hidden;

  @include min-width(740px) {
    padding: 5px 2.5% 15px 2.5%;
  }
}

.form-row {
  padding: 10px 2.5% 12px 2.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 100%;
  @include min-width(740px) {
    padding: 12px 0 14px 0;
  }
  & + & {
    border-top: 1px solid black(0.08);
  }
}

.form-row-label {
  width: 18%;
  min-width: 180px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  padding: 0 8px 0 0;
  border: 1px solid transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 5px 0;
  svg {
    width: 18px;
    height: 18px;
    margin: 0 7px 0 0;
  }
  path {
    fill: $cGrape;
  }
  @include min-width(740px) {
    height: 48px;
    margin: 0;
    &.short {
      height: 36px;
    }
  }

  &.required:after {
    content: '*';
    left: 1px;
    position: relative;
    top: -2px;
  }
}

.form-row-content {
  width: 100%;
  max-width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  @include min-width(740px) {
    width: 80%;
  }
}

.form-row-content-band {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0 5px 0;
}

.form-row-tip {
  width: 100%;
  margin: 2px 0 0 0;
  font-size: 12px;
  color: $cGrey;
  font-style: italic;
  max-width: 620px;

  svg {
    height: 0.9em;
    margin-right: 0.25em;
    width: 0.9em;
    path {
      fill: currentColor;
    }
  }

  .error & {
    color: $cError;
  }
}

.form-input {

  background-color: #FEFEFE;
  border-radius: 2px;
  border: 1px solid $cMedGrey;
  color: $cPlum;
  font-size: 16px;
  height: 38px;
  line-height: 20px;
  padding: 8px 10px;
  transition:
    background-color 60ms linear,
    border-color 60ms linear,
    box-shadow 60ms linear;

  &:focus {
    box-shadow: 0px 0px 3px $cMedGrey;
    background-color: #FFF;
    border-color: darken($cGrape, 10);
    border-bottom-color: $cGrape;
    border-right-color: $cGrape;
    outline: none !important;
  }

  &:disabled {
    color: darken($cPlum, 2);
    background: black(0.06);
    cursor: not-allowed;
  }

  .error & {
    border-color: $cError;
  }

  &.wide {
    width: 100%;
    max-width: 500px;
  }

}

select.form-input {
  background-image: image-url("icons/chevron-down.svg");
  background-size: auto 40%;
  background-position: right 8px top 12px;
}

textarea.form-input {
  height: auto;
}

// ---------------------------------------------------------------------------
// AUTOCOMPLETE FIELDS
// ---------------------------------------------------------------------------

.form-layout {

  .select2 {

    background-color: #FEFEFE;
    border-radius: 2px;
    border: 1px solid $cMedGrey;
    color: $cPlum;
    font-size: 16px;
    padding: 8px 4px 8px 10px;
    width: 100% !important;
    max-width: 420px;
    display: block;
    min-height: 38px;
    transition:
      background-color 60ms linear,
      border-color 60ms linear,
      box-shadow 60ms linear;

    &.short {
      max-width: 480px;
    }

    &.select2-container--focus  {
      box-shadow: 0px 0px 3px $cMedGrey;
      background-color: #FFF;
      border-color: darken($cGrape, 10);
      border-bottom-color: $cGrape;
      border-right-color: $cGrape;
      outline: none !important;
    }

    &:disabled {
      color: darken($cPlum, 2);
      background: black(0.06);
      cursor: not-allowed;
    }

    .error & {
      border-color: $cError;
    }
  }

  .select2-hidden-accessible {
    display: none;
  }

  .select2-dropdown {
    width: 400px !important;
  }

  .select2-results {
    display: block;
    width: 100% !important;
    position: relative;
  }

  .select2-results__options {
    padding: 4px 0 4px 0;
    background: $cWhite;
    display: block;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid $cGrey;
    border-top: 0;
    border-radius: 0 0 2px 2px;
    width: 420px !important;

    .select2-results__options--nested {
      overflow-y: auto;
      max-height: initial;
      border: 0;
      width: 98% !important;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }

    path {
      fill: $cGrape;
    }
  }

  .select2-results__group {
    font-weight: bold;
  }

  .select2-dropdown select2-dropdown--below {
     width: 100% !important;
  }

  .select2-results__option {
    padding: 5px 6px 5px 10px;
    cursor: pointer;
  }

  .select2-search__field {
    width: 100% !important;
    display: block;
  }

  .select2-results__option--highlighted {
    background: transparentize($cGrape, 0.90);
  }

  .select2-selection__choice {
    padding: 0 0 2px 0;
    line-height: 20px;
    margin: 0 0 2px 0;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }

  .select2-selection__choice__remove,
  .select2-polarity {
    display: block;
    float: left;
    color: $cRaisn;
    cursor: pointer;
    background-color: transparentize($cRaisn, 0.8);
    border-radius: 2px;
    padding: 0 6px 20px 6px;
    margin-right: 6px;
    height: 18px;
    line-height: 1;
    width: 22px;
  }

  .select2-polarity {
    background-color: transparentize($cEmerald, 0.2);
    color: $cLightGrey;
    width: 36px;
    text-align: center;
    font-size:16px;
    font-variant: small-caps;
  }

  .select2-polarity.negative {
    background-color: transparentize($cRuby, 0.2);
  }

}
