$bpHeaderMid: 880px;

.header {

  background-color: $cExpanse;
  padding: 0 2.5%;
  overflow: hidden;

  @media print {
    background: transparent;
  }

  .inner-flex {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {

    display: block;
    position: absolute;
    z-index: 500;
    width: 34px;
    height: 34px;
    padding: 2px;
    left: 6px;
    top: 12px;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &-search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 9px 0 9px 0;
    position: relative;
    flex: 9;
    @include print-hidden;
    input {
      border: 1px solid white(0.25);
      background-color: #242031;
      color: #D7D7D7;
      border-radius: 2px;
      box-shadow: 0px 0px 2px black(0.5);
      font-size: 16px;
      line-height: 1.25;
      padding: 9px 8px 9px 46px;
      margin: 0 0 0 0;
      width: 100%;
      &:focus {
        color: #FFF;
        border-color: white(0.45);
        background-color: lighten(#242031, 4);
        outline: none;
      }
    }

  }

  &-menu-button {
    color: $cWhite;
    border: 1px solid white(0.8);
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding: 9px 0 9px 0;
    margin: 0 0 0 5px;
    font-size: 16px;
    line-height: 1.25;
    flex-grow: 1;
    @include print-hidden;
    @include min-width($bpHeaderMid) {
      display: none;
    }
    svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 2px -2px 0;
    }
    path {
      fill: $cWhite;
    }
  }

  &-utility {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    @include print-hidden;
    @include max-width($bpHeaderMid) {
      height: 0;
      overflow: hidden;
    }
    @include min-width($bpHeaderMid) {
      justify-content: flex-end;
      flex-flow: row nowrap;
      width: 55%;
    }
  }

  &-utility-open {
    @include max-width($bpHeaderMid) {
      height: auto;
      overflow: visible;
    }
  }

  &-utility-link {

    border-top: 1px solid white(0.6);
    color: white(0.80);
    text-shadow: 0px 0px 2px black(0.25);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: right;
    font-size: 14px;
    line-height: 18px;
    padding: 14px 15px;
    white-space: nowrap;
    width: auto;

    @include min-width($bpHeaderMid) {
      border: 0;
      width: fit-content;
      margin: 0 0 0 15px;
      padding: 15px 0;
      &.spacer:before {
        content: "";
        height: 22px;
        width: 1px;
        background-color: white(0.25);
        margin: 0 12px 0 0;
      }
    }

    &:hover, &:active, &:focus {
      color: #FFFFFF;
      outline: none;
      text-decoration: underline;
      path {
        fill: #FFFFFF;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      margin: 0 0.66em 0 0;
    }

    path {
      fill: white(0.8);
    }

  }

  &-mobile-only {
    @include min-width($bpHeaderMid) {
      display: none;
    }
  }

}
