$cBlack: #16161D; // A less harsh black than pure #000 https://en.wikipedia.org/wiki/Eigengrau
$cLightGrey: #DDD;
$cMedGrey: #AEAEAE;
$cGrey: #9B9B9B;
$cDarkGrey: #535353;
$cCodeWash: #F5F6F7;
$cWhite: #FDFDFD; // A less-harsh white than pure #FFF

$cPlum: #343242;
$cRaisn: #5F4F66;
$cGrape: #5822AC;
$cVictory: #634496;
$cSalmon: #DB4753;
$cLavender: #CBAAF5;

$cMidnight: #1E2A38;
$cExpanse: #2B253A;

$cInput: #CBC7CD;
$cInputFocus: #9B919E;

$cRuby: #DA3946;
$cSapphire: #3497BE;
$cEmerald: #536446;
$cDiamond: #FAE6C6;
$cOnyx: #16161D;

$cCommonBlack: #16161D;
$cRareGold: #C19C00;
$cUncommonSilver: #6C848C;
$cMythicFire: #F64800;

$cUSD: #006885;
$cTIX: #DA4100;
$cEUR: #8B3F8A;
