.theme-dark {
  background-color: $cExpanse;
  color: $cWhite;

  .button-lg,
  .button-sm {
    background-color: rgba(white,0.09);
    border-color: rgba(white, 0.6);

    &:not(:focus) {
      opacity: 0.8;
    }
  }

  .guess {
    background-color: #242031;
  }

  .art {
    border: 1px solid rgba($cVictory, 0.25);
  }

  .error-loading {
    background-color: rgba($cPlum, 0.75);
  }
}

.theme-light {
  background-color: $cCodeWash;
  color: $cBlack;

  .button-lg,
  .button-sm {
    border-color: rgba($cGrape, 0.5);
    background-color: #F9F7F5;
  }

  .guess {
    background-color: $cWhite;
  }

  .art {
    border: 1px solid rgba($cBlack, 0.5);    
  }

  .error-loading {
    background-color: rgba($cPlum, 0.75);
    p {
      color: white;
    }
  }
}
