@import "colors";
@import "responsive";

@import "util";

@import "screen/difficulty";
@import "screen/game";


html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeueWF", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  .screen {
    margin-top: 5vh;
  }

  @include bp-large() {
    justify-content: space-between;

    .screen {
      margin-top: 0;
    }
  }
}

h1 {
  margin: 0;
  font-size: 18px;

  @include bp-large() {
    font-size: 24px;
  }
}
