@import "colors";
@import "responsive";

@import "util";
@import "themes";

@import "screen/difficulty";
@import "screen/game";

html,
body {
  height: 100%;
  width: 100%;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeueWF", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  .screen {
    margin-top: 10vh;
  }
}

h1 {
  margin: 0 0 30px;
  font-size: 18px;

  @include bp-large() {
    font-size: 24px;
  }
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a:link,
a:visited,
a:active,
a:active {
  color: inherit;
}

.button-lg {
  border: 1px solid;
  border-radius: 3px;
  height: 40px;
}

.button-sm {
  border: 1px solid;
  border-radius: 2px;
  padding: 5px 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;

  @include bp-large() {
    flex-direction: row-reverse;
  }

  .credit {
    font-size: 12px;
    font-style: italic;
    opacity: 0.75;

    @include bp-small() {
      margin-top: 20px;
    }
  }

  .controls span {
    padding-right: 10px;
  }
}
